// Fonts 
$logo-font: 'Engagement', cursive;
$font1: 'Nunito', sans-serif; // 200, 400, 700, 900

// Colors 
$acc1: #ef1032;
$acc2: #e84c63;

// ------------------------------------------------------------------

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    scroll-padding-top: 60px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: $font1;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: white;
    &-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        .header-logo {
            display: flex;
            align-items: center;
            &--img {
                width: 40px;
                height: 40px;
                object-fit: cover;
            }
            &--text {
                margin-left: 8px;
                font-family: $logo-font;
                font-size: 2.8rem;
            }
        }
        .menu-btn {
            width: 40px;
            height: 40px;
            background-image: url('./assets/menu.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 60%;
            cursor: pointer;
        }
    }
    &-nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 0;
        overflow: hidden;
        place-content: center;
        transition: all 0.3s;
        .nav {
            margin: 20px 0;
            &-item {
                margin: 12px;
                text-align: center;
                list-style: none;
                font-size: 2rem;
                font-weight: 700;
                .nav-link {
                    text-decoration: none;
                    color: black;
                }
            }
        }
        &__show {
            height: 150px;
        }
    }
}

.main {
    width: 80%;
    max-width: 1200px;
    margin: 68px auto;
    &__title {
        margin: 12px 0;
        font-size: 3.2rem;
        font-weight: 800;
        text-align: center;
    }
    &__intro {
        font-size: 1.6rem;
        text-align: justify;
    }
    .contact {
        display: grid;
        place-content: center;
        grid-template-areas:
        "title title"
        "input button";
        margin: 20px 0;
        label {
            margin: 8px 0;
            justify-self: center;
            grid-area: title;
            font-size: 2.4rem;
            font-weight: 400;
        }
        #email {
            padding: 4px;
            font-size: 1.6rem;
            grid-area: input;
            border: 1px solid gray;
            border-right: none;
            border-radius: 8px 0 0 8px;
        }
        #submit {
            padding: 4px;
            font-size: 1.6rem;
            font-weight: 400;
            text-transform: uppercase;
            grid-area: button;
            border: 1px solid $acc1;
            border-radius: 0 8px 8px 0;
            color: white;
            background-color: $acc2;
        }
    }
    .video-container {
        aspect-ratio: 16 / 9;
        #video {
            width: 100%;
            height: 100%;
        }
    }
    .about {
        margin: 24px 0;
        &__title {
            text-align: center;
            font-size: 2.4rem;
            color: $acc1;
        }
        .card-container {
            display: grid;
            gap: 16px;
            margin: 12px auto;
            .about-card {
                padding: 16px;
                border-radius: 8px;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                &:nth-child(1) > span {background-image: url('./assets/about-dolar.svg')}
                &:nth-child(2) > span {background-image: url('./assets/about-time.svg')}
                &:nth-child(3) > span {background-image: url('./assets/about-truck.svg')}
                &__icon {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                }
                &__title {
                    font-size: 1.6rem;
                    font-weight: 700;
                }
                &__description {
                    font-size: 1.2rem;
                    font-weight: 400;
                }
            }

        }
    }
    .products {
        &__title {
            text-align: center;
            font-size: 2.8rem;
            font-weight: 700;
        }
        .product-container {
            .guitar {
                &__img {
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}
